.social-list {
  display: flex;
}
.social-item {
  color: #fff;
  display: flex;
  align-items: center;

  &--twitter {
    &:before {
      content: '';
      background: url(../images/socials/twitter-icon.svg) no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
    }
  }
  &--facebook {
    &:before {
      content: '';
      background: url(../images/socials/facebook-icon.svg) no-repeat;
      background-size: contain;
      width: 12px;
      height: 24px;
    }
  }
  &--linkedin {
    &:before {
      content: '';
      background: url(../images/socials/linkedin-icon.svg) no-repeat;
      background-size: contain;
      width: 20px;
      height: 22px;
    }
  }
  &--google {
    &:before {
      content: '';
      background: url(../images/socials/google-icon.svg) no-repeat;
      background-size: contain;
      width: 14px;
      height: 22px;
    }
  }
  &--instagram {
    &:before {
      content: '';
      background: url(../images/socials/instagram-icon.svg) no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
    }
  }
  &--youtube {
    &:before {
      content: '';
      background: url(../images/socials/youtube-icon.svg) no-repeat;
      background-size: contain;
      width: 14px;
      height: 9px;
    }
  }
  &--vk {
    &:before {
      content: '';
      background: url(../images/socials/vk-icon.svg) no-repeat;
      background-size: contain;
      width: 14px;
      height: 9px;
    }
  }
}